#outer {
  width: 600px;
  height: 600px;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.inner {
  border: 1px solid red;
  width: 180px;
  height: 180px;
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

#results {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  min-height: 30px;
}
